<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0595fc"/>
    <title>Restaurant App</title>

    <link rel="icon" href="../public/images/icon.png">
    <link rel="manifest" href="manifest.json">
    
    <link rel="apple-touch-startup-image" href="../public/images/icon96.png">
    <link rel="apple-touch-icon" href="../public/images/icon96.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <a href="#content" class="skip-link">Lanjut ke konten?</a>

    <div class="menumob">
      <button class="iconmenu" id="menu" aria-label="Buka menu navigasi">
        ☰
      </button>
      <div class="logomob">Bikin Ngiler</div>
      <div class="logomob">&nbsp;</div>
    </div>

    <nav id="drawer" class="navmob">
      <ul class="navlistmob">
        <li class="navitemsmob"><a href="/">Home</a></li>
        <li class="navitemsmob"><a href="/#/favorite">Favorite</a></li>
        <li class="navitemsmob">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/iqri-mannisa-buchori-451b531bb/"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <nav class="nav">
      <a class="logo" href="">Bikin Ngiler</a>
      <ul class="navlist">
        <li class="navitems"><a href="/">Home</a></li>
        <li class="navitems"><a href="/#/favorite">Favorite</a></li>
        <li class="navitems">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/iqri-mannisa-buchori-451b531bb/"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <div class="hero">
      <div class="heroinner">
        <h1 class="herotitle">Bikin Ngiler</h1>
        <p class="herosubtitle">
          Temukan Restoran Kesukaan Anda di Bikin Ngiler Kesayangan
        </p>
      </div>
    </div>

    <main id="content"></main>
    
    <footer>
      <p>Copyright © 2023 Bikin Ngiler | Resto Kebanggan Indonesia</p>
    </footer>
  </body>
</html>
